body{
    background: black;
    margin: 0;
}

/*Textos*/

h1{
    text-align: center;
    color: white;
    margin: 20px 0;
    padding: 30px 0 0 0;
    font-family: 'Lobster', cursive;
}

/*Navbar */

.navbar {
    background-color: #333;
    overflow: hidden;
    padding-right: 30px;
}

.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.Filosofilm {
    float: left;
}

.nav-links {
    margin: 0;
    font-family: TiemposTextWeb-Regular,Georgia,serif;
    font-size: 20px;
}

li{
    display: inline-block;
}

.nav-links a:hover{
    color: rgb(219, 200, 23);
}

#logo{
    width: 250px;
    height: auto;
}

/*Esta parte controla la campanita de notificaciones */

#Notif{
    width: auto;
    height: 90px;
    margin: 17px 0 0 60px;
}

/*Aqui se definen las imagenes de las peliculas */

.posters{

    width: 90%;
    height: 90%;
    margin: 4%;
    border-style: solid;
    border-width: 1%;
    border-color: white;
}

/*Esta funcion hace que la imagen se agrande al pasar el mouse por encima de cada pelicula filtrada */

.posters:hover{

    width: 100%;
    height: 100%;
    margin: 0 10% -10% 0;
}