.boton-con-fondo {
    background-image: url('../img/conf.png'); 
    background-size: cover; 
    width: 80px;
    height: 80px; 
    background-color: #333;
    border: none;
    display: inline-block;
}


.div1{
    display: inline-flex;
    width: 100%;
    background-color: #333;
    color:aliceblue;
}

.div2 a{
    font-size: 25px;
}

.div2{
    margin-bottom: 20px;
}

.div1 h3{
    margin:15px 10px 15px 10px;
}

.div2 a{
    font-size: 25px;
}

.div2{
    margin-bottom: 20px;
}

.div1 h3{
    margin:15px 10px 15px 10px;
}

.foto{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

body{
    background-color: black;
    margin: 0;
    font-family: TiemposTextWeb-Regular,Georgia,serif;
}

.estrellas {
    font-size: 40px;
}

.estrellas::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, gold var(--calificacion), #ddd var(--calificacion));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.estrellas[data-calificacion="1"]::before { --calificacion: 20%; }
.estrellas[data-calificacion="2"]::before { --calificacion: 40%; }
.estrellas[data-calificacion="3"]::before { --calificacion: 60%; }
.estrellas[data-calificacion="4"]::before { --calificacion: 80%; }
.estrellas[data-calificacion="5"]::before { --calificacion: 100%; }

.UsuarioReseña {
    font-size: 30px;
    margin-bottom: 10px;
}

.Estrellas {
    color: #FFD700;
}

.ImgUsuarioenReseña{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
/*
.Reseña{
    border: 1px solid ;
    border-image: linear-gradient(45deg, red, lime, blue) 1;
}
*/

.BotonLike {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .Likes {
    margin-top: 10px;
  }

  .ContornoReseña {
    max-width: 900em;
    border: 1px solid ;
    border-image: linear-gradient(45deg, red, lime, blue) 1;
    padding: 20px;
    margin: 20px auto;
    background-color: #012f5e; color: white;
  }


  .ReseñaImagen {
    text-align: right;
    margin-left: 20px;
  }

  .ReseñaImagen img {
    width: 150px; /* La imagen mantiene su tamaño original */
    height: 230px;
  }

  @media (max-width: 575px) {
    .div2 a{
        font-size: 20px;
    }

}

.ImagenReseña img {
    width: 150px; 
    height: auto; 
    margin-right: 10px;
}

@media (min-width: 575px) and (max-width: 768px)  {
    .containerReseña{
        margin-right: 450px;

    }

    .ContornoReseña{
        width: 430px;
    }
    
}