/* Estilo general del cuerpo */
body {
    background-image: url(../img/fondoLogo.png);
    font-family: 'Montserrat', sans-serif;
}

/* Estilo del título "Bienvenido a filosofilm" */

h2, h1{
    font-weight: bold;
    text-align: center;
    font-style: oblique;
}

/* Estilo de los campos de entrada y etiquetas */
.form-label {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.form-control {
    border: 2px solid #333;
    border-radius: 5px;
}

/* Estilo del icono en los campos de entrada */
.bx {
    margin-right: 0.5rem;
}

/* Estilo del enlace "Registrate" */
a {
    text-decoration: none;
    color: #007bff;
    margin: 0 0.5rem;
}

/* Ajuste del tamaño del logo */
#LogoFilosofilm{
    width:50%;
    height: auto;
}

.foto{
    background-image: url(../img/7art.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}

/*Navbar*/

li a{
    color: #333;
    margin: 20px 25px;
    font-size: 20px;
}

a:hover, h1:hover{
    color: rgb(219, 200, 23);
}
