
body{
    background-color: black;
    margin: 0;
}

#ultimo{
    background: #333;
    padding: 40px;
    border-radius: 15px;
}

/*Esta parte del css controla la navbar */

li a{
    color: rgb(255, 255, 255);
    margin: 5px 25px 0;
    font-size: 20px;
}

h1:hover, strong:hover{
    color: rgb(219, 200, 23);
}

#navbg{
    background-image: url(../img/fondoLogo.png);
}

#logo{
    margin: 5px 0 0 -340px;
}

/*--------------------------------------------------------------*/

/*Esta parte del css controla los recuadros de cada integrante*/

#Greco{
    margin: 30px 10px;
    padding-top: 15px;
    border-radius: 15px;
}

#Carlos{
    margin: 30px 10px;
    padding-top: 15px;
    border-radius: 15px;
}

#Karol{
    margin: 30px 10px;
    padding-top: 15px;
    border-radius: 15px;
}

#Alex{
    margin: 30px 10px;
    padding-top: 15px;
    border-radius: 15px;
}

.fotos{
    width: auto;
    height: 80%;
    margin: 30px 0 30px 0;
    padding: 10px 10px 0;
    border-radius: 15px;
}

#sortie{

    width: 400px;
    margin-top: 60px;
    border-radius: 3px;
    border-style: double;
    border-width: 5px;
    border-color: rgb(219, 200, 23);
}

/*Este controla que las imagenes tengan el mismo espacio dentro de las 3 columnas, para que el texto no se vea disparejo*/

.ZonaF{
    height: 250px;
}
/*--------------------------------------------------------------*/

/*Esta parte controla los textos*/

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 50px;
    margin: 30px 0;
}

p{
    text-align: justify;
    margin: 25px;
    font-family: TiemposTextWeb-Regular,Georgia,serif;
}

/*--------------------------------------------------------------*/

