

body{
    background: black;
    margin: 0;
    color: rgb(255, 255, 255);
}

/*Textos*/

h1{
    text-align: center;
    margin: 20px 0;
    padding: 30px 0 0 0;
    font-family: 'Lobster', cursive;
}

p{
    text-align: justify;
    margin: 20px 5px;
    font-family: TiemposTextWeb-Regular,Georgia,serif;
    padding: 30px;
    font-size: 20px;
}

#frase{
    padding: 40px 10px;
    text-align: center;
}

/*Navbar */

li a strong{
    color: rgb(255, 255, 255);
    margin: 5px 25px 0;
    font-size: 20px;
}

a:hover, h1:hover, strong:hover{
    color: rgb(219, 200, 23);
}

#navbg{
    background-image: url(../img/fondoLogo.png);
}

.Integrantes{
    border-radius: 100%;
    padding: 30px;
}

#SobreLogo{
    background-image: url(../img/fondoLogo.png);
    border-radius: 35px;
}

.Logo{
    width: 100%;
}

#cine{

    width: 100%;
    border-style: double;
    border-radius: 3px;
    border-width: 5px;
    border-color: rgb(219, 200, 23);
}






