body{
    background-image: url(../img/fondoLogo.png);
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

h1{
    margin-bottom: 30px;
    margin-top: 20px;
}

/*Navbar*/

a{
    margin: 20px 25px;
}

a strong{
    color: #333;
    margin: 20px 25px;
    font-size: 20px;
}

strong:hover, h1:hover{
    color: rgb(219, 200, 23);
<<<<<<< HEAD
}
=======
}
>>>>>>> d1a7da7ef64623b6e87fcd7c8f2449610fa0397c
